@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Raleway:ital,wght@0,400;0,500;1,400&display=swap");
$primary-color: #0b335b;
$primary-font: "Raleway", sans-serif;
$secondary-color: #fa9917;
$secondary-font: "Courier Prime", monospace;
$white: #fff;
$uni-margin: 2em 0.8em;
