@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Raleway:ital,wght@0,400;0,500;1,400&display=swap");
#main {
  background: #fff;
  min-width: 100%;
  height: 100vh;
  padding: 0;
}

/*--------------NAV------------------*/
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 2em 0em;
  margin: 1em 0;
}

.nav-logo {
  display: flex;
  text-decoration: none;
}
.nav-logo .nav-logo-img {
  width: 10%;
  border-radius: 50%;
}
.nav-logo .nav-logo-text {
  color: #0b335b;
  font-family: "Courier Prime", monospace;
  align-self: center;
  font-size: 1.6rem;
}

.nav-btn-con a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fa9917;
  background: #0b335b;
  border-radius: 8px;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}
.nav-btn-con .nav-btn-1 {
  padding: 1em 2em;
  text-transform: uppercase;
  margin-right: 0.3em;
}
.nav-btn-con .nav-btn-2 {
  padding: 1em 1.5em;
  text-transform: capitalize;
}

/*---------------HERO-----------------*/
.hero-con {
  background: #000;
  padding: 3em 6em;
}
.hero-con .hero {
  display: flex;
  justify-content: space-around;
  padding-bottom: 4em;
}
.hero-con .hero .hero-img {
  width: 30%;
}
.hero-con .hero .hero-descrip {
  text-align: center;
}
.hero-con .hero .hero-descrip h1 {
  color: #fa9917;
  font-family: "Courier Prime", monospace;
  text-transform: capitalize;
  font-size: 5em;
  margin-bottom: 0;
}
.hero-con .hero .hero-descrip h2 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}
.hero-con .hero .hero-descrip p {
  color: #99e5e8;
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-size: 1.5rem;
}
.hero-con p {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}

/*-----------------ARTICLE---------------*/
.article .article-content_one {
  display: grid;
  grid-template-columns: 4fr 8fr;
  align-items: center;
  grid-gap: 1em;
  padding: 4em;
  text-align: justify;
}
.article .article-content_one .article-red-text {
  font-family: "Raleway", sans-serif;
  color: #fa9917;
  font-size: 1.7em;
  font-style: italic;
}
.article .article-content_two {
  display: grid;
  grid-template-columns: 8fr 4fr;
  align-items: center;
  grid-gap: 5em;
  padding: 4em;
  text-align: justify;
}
.article .article-content_two .turupay {
  order: 9999;
}
.article h1 {
  text-transform: capitalize;
  font-size: 3rem;
  font-family: "Courier Prime", monospace;
  color: #000;
  font-weight: bolder;
  margin-left: 1em;
}
.article h1 span {
  border-bottom: solid 5px;
  line-height: 1px;
}
.article p {
  color: #0b335b;
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}

/*----------------STEPS----------------*/
.steps-section > div:first-of-type {
  text-align: center;
  padding: 2em 0;
}
.steps-section > div:first-of-type h1 {
  font-family: "Courier Prime", monospace;
  font-size: 3rem;
  padding: 0 5em;
}
.steps-section > div:first-of-type p {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
}

.steps-section {
  margin: 2em 0.8em;
  padding: 3em 3em 1em;
  background-color: #4f4f4f;
  color: white;
}
.steps-section p {
  font-size: 1.3rem;
}
.steps-section .steps span {
  font-weight: bold;
  font-size: 1.3em;
}

.benefits-con {
  background-color: #c8c8c8;
  padding: 2em 1em 4em;
  margin: 2em 0.8em;
}
.benefits-con .benefits-desc {
  color: #831481;
  text-align: center;
  padding: 0 3em;
}
.benefits-con .benefits-desc h1 {
  font-family: "Courier Prime", monospace;
  font-weight: bold;
  font-size: 3rem;
}
.benefits-con .benefits-desc p {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
}
.benefits-con .benefits {
  display: grid;
  grid-template-areas: "benefit-one benefit-three benefit-four" "benefit-two benefit-three benefit-five";
  grid-auto-columns: 1fr;
  gap: 1.5rem;
}
.benefits-con .benefits img {
  width: 30%;
}
.benefits-con .benefits .benefit {
  padding: 1em 1em;
  font-size: 1.3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.benefits-con .benefits .benefit .benefit-img {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
.benefits-con .benefits .benefit-one {
  background-color: #074610;
  color: #fff;
  grid-area: benefit-one;
}
.benefits-con .benefits .benefit-two {
  background-color: #6f3434;
  color: #fff;
  grid-area: benefit-two;
}
.benefits-con .benefits .benefit-three {
  background-color: #09233e;
  color: #fff;
  grid-area: benefit-three;
}
.benefits-con .benefits .benefit-three img {
  width: 40%;
}
.benefits-con .benefits .benefit-four {
  background-color: #311f07;
  color: #fff;
  grid-area: benefit-four;
}
.benefits-con .benefits .benefit-five {
  background-color: #31062d;
  color: #fff;
  grid-area: benefit-five;
}

.token-section {
  background-color: #000;
  color: #fff;
  display: flex;
  margin: 2em 0.8em;
  padding: 2rem 6rem 2rem 2rem;
}
.token-section .gold-img-con {
  margin-right: 2rem;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.token-section .gold-img-con .gold-img {
  width: 100%;
}
.token-section .token-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
.token-section .token-desc h1 {
  font-weight: bold;
  font-family: "Courier Prime", monospace;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}
.token-section .token-desc p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-family: "Raleway", sans-serif;
}
.token-section .token-desc span.turung-bold {
  font-weight: bold;
}
.token-section .token-desc .buy-btn-con {
  margin: 3em 0;
  text-align: center;
}
.token-section .token-desc .buy-btn-con .buy-btn {
  text-transform: uppercase;
  background: #0b335b;
  color: #fa9917;
  padding: 1rem 5rem;
  text-decoration: none;
  font-size: 2rem;
  border: double 2px rgba(116, 193, 0, 0.8196078431);
  border-radius: 10px;
}

.d-none {
  display: none;
}

.token-dist {
  padding: 2rem 4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  word-spacing: 0.3rem;
}
.token-dist article {
  display: flex;
  justify-content: space-between;
}
.token-dist article .section-header {
  font-family: "Courier Prime", monospace;
  margin: 3rem 0;
  font-size: 3rem;
  font-weight: 800;
  color: #008c13;
}
.token-dist article .sub-header {
  font-family: "Courier Prime", monospace;
  font-weight: 800;
  font-size: 1.8rem;
}
.token-dist .break-down div {
  display: flex;
  justify-content: space-between;
  line-height: 0.8;
  min-width: 35rem;
}
.token-dist .break-down :nth-child(even) {
  background-color: #f2f4f7;
}
.token-dist #piechart {
  margin-left: -200px;
}

.community {
  text-align: center;
  padding: 18% 0;
  background-color: #f2f4f7;
}
.community h2 {
  font-family: "Courier Prime", monospace;
  font-size: 2rem;
}
.community p {
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
}
.community .social-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 0 35%;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.contact {
  padding: 5% 32%;
  background-color: #032830;
  font-family: "Raleway", sans-serif;
}
.contact h2 {
  text-align: center;
  font-family: "Courier Prime", monospace;
  color: #fff;
  letter-spacing: 4px;
  font-size: 2rem;
}
.contact p {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}
.contact input {
  width: 100%;
  height: 1.8rem;
  margin: 0.3rem 0;
  border-radius: 5px;
  font-size: 1rem;
  border: 2px solid #fa9917;
}
.contact textarea {
  width: 100%;
  height: 8rem;
  border-radius: 5px;
  font-size: 1rem;
  border: 2px solid #fa9917;
}
.contact .submit {
  max-width: 40%;
  background-color: #000;
  color: #fff;
  font-size: 1.1rem;
  height: 2.5rem;
}

.copyright {
  padding: 5rem 2rem;
  text-align: center;
  font-size: 1.1rem;
  font-family: "Raleway", sans-serif;
}

/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------MEDIA QUERIES------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
@media (max-width: 1100px) {
  /*---------------HERO-----------------*/
  .hero-con .hero {
    display: flex;
    justify-content: space-around;
    padding-bottom: 4em;
  }
  .hero-con .hero .hero-img {
    width: 40%;
  }
  .hero-con .hero .hero-descrip {
    text-align: center;
  }
  .hero-con .hero .hero-descrip h1 {
    font-size: 3.4em;
  }
  .hero-con .hero .hero-descrip h2 {
    color: #fff;
    font-size: 1.7rem;
  }
  .hero-con .hero .hero-descrip p {
    font-size: 1.1rem;
  }
  .hero-con .hero p {
    font-size: 1rem;
  }

  /*-----------------STEPS---------------*/
  .steps-section > div:first-of-type h1 {
    font-family: "Courier Prime", monospace;
    font-size: 2.5rem;
    padding: 0 3em;
  }
}
/*--------------------------------*/
/*--------------------------------*/
@media (max-width: 906px) {
  /*----------------NAV----------------*/
  #nav {
    padding: 0;
  }
  #nav .nav-btn-con a {
    font-size: 1rem;
  }
  #nav .nav-btn-con .nav-btn-1 {
    padding: 0.4em 1.5em;
    display: none;
  }
  #nav .nav-btn-con .nav-btn-2 {
    padding: 0.6em 1em;
  }

  /*---------------HERO-----------------*/
  .hero-con .hero {
    display: block;
    padding-bottom: 4em;
    text-align: center;
  }
  .hero-con .hero .hero-descrip {
    text-align: center;
  }
  .hero-con .hero .hero-descrip h1 {
    font-size: 4em;
  }
  .hero-con .hero .hero-descrip h2 {
    color: #fff;
    font-size: 1.5rem;
  }
  .hero-con .hero .hero-descrip p {
    font-size: 1.2rem;
  }
  .hero-con .hero p {
    font-size: 1rem;
  }

  /*-----------------STEPS---------------*/
  .steps-section > div:first-of-type h1 {
    font-family: "Courier Prime", monospace;
    font-size: 2.3rem;
    padding: 0 3em;
  }

  /*-----------------ARTICLE---------------*/
  .article .article-content_one {
    display: block;
    text-align: center;
  }
  .article .article-content_one .article-red-text {
    font-size: 1.3em;
  }
  .article .article-content_two {
    display: block;
    padding: 2em;
    text-align: center;
  }
  .article .article-content_two .turupay {
    order: 1;
  }
  .article h1 {
    font-size: 3rem;
    margin-left: 1em;
  }
  .article p {
    font-size: 1.1em;
  }

  .benefits {
    grid-template-areas: "benefit-one" "benefit-two" "benefit-three" "benefit-four" "benefit-five" !important;
  }
  .benefits img {
    width: 25% !important;
  }
}
/*--------------------------------*/
/*--------------------------------*/
@media (max-width: 506px) {
  #nav {
    padding: 0 0.5em;
  }
  #nav .nav-logo-img {
    width: 20%;
    border-radius: 50%;
  }

  /*---------------HERO-----------------*/
  .hero-con {
    padding: 3em 1.5em;
    text-align: justify;
  }

  .article .article-content_one {
    padding: 1em;
    text-align: justify;
  }
  .article .article-content_two {
    padding: 1em;
    text-align: justify;
  }

  /*-----------------STEPS---------------*/
  .steps-section {
    margin: 2em 0.8em;
    padding: 3em 1em 1em;
  }
  .steps-section .steps span {
    font-weight: bold;
    font-size: 1em;
  }

  .steps-section > div:first-of-type {
    text-align: center;
    padding: 0;
  }
  .steps-section > div:first-of-type h1 {
    font-family: "Courier Prime", monospace;
    font-size: 2rem;
    padding: 0;
  }
  .steps-section > div:first-of-type p {
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
  }

  .benefits-con .benefits-desc {
    padding: 0 1em;
  }

  .token-section {
    display: block;
    padding: 2rem 1rem 1rem 1rem;
  }
  .token-section .token-desc h1 {
    font-size: 2rem;
  }
  .token-section .token-desc p {
    font-size: 1.3rem;
  }
  .token-section .token-desc .buy-btn {
    padding: 1em 3em !important;
    font-size: 1rem !important;
  }
  .token-section .gold-img-con {
    margin-right: 0rem;
    width: 100%;
  }
  .token-section .gold-img-con .gold-img {
    width: 100%;
  }

  .token-dist {
    padding: 0.2rem 1rem;
    margin: 0;
  }
  .token-dist .top,
.token-dist .next-to-top {
    display: block;
    max-width: 380px;
  }
  .token-dist .top .section-header,
.token-dist .top .sub-header,
.token-dist .next-to-top .section-header,
.token-dist .next-to-top .sub-header {
    text-align: center;
  }
  .token-dist .top #piechart,
.token-dist .next-to-top #piechart {
    margin-left: -67px;
  }
  .token-dist .break-down div {
    min-width: 0;
  }

  .community .social-links {
    margin: 0;
  }

  .contact {
    padding: 15% 5%;
  }
}/*# sourceMappingURL=main.css.map */