@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Raleway:ital,wght@0,400;0,500;1,400&display=swap");
#main {
  background: #fff;
  width: 100%;
  height: 100vh;
  padding: 0 0em;
}

/*--------------NAV------------------*/
#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0em 2em 0em;
  margin: 1em 0;
}

.nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.nav-logo .nav-logo-img {
  width: 10%;
  border-radius: 50%;
}

.nav-logo .nav-logo-text {
  color: #0b335b;
  font-family: "Courier Prime", monospace;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.6rem;
}

.nav-btn-con a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fa9917;
  background: #0b335b;
  border-radius: 8px;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.nav-btn-con .nav-btn-1 {
  padding: 1em 2em;
  text-transform: uppercase;
  margin-right: 0.3em;
}

.nav-btn-con .nav-btn-2 {
  padding: 1em 1.5em;
  text-transform: capitalize;
}

/*---------------HERO-----------------*/
.hero-con {
  background: #000;
  padding: 3em 6em;
}

.hero-con .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 4em;
}

.hero-con .hero .hero-img {
  width: 30%;
}

.hero-con .hero .hero-descrip {
  text-align: center;
}

.hero-con .hero .hero-descrip h1 {
  color: #fa9917;
  font-family: "Courier Prime", monospace;
  text-transform: capitalize;
  font-size: 5em;
  margin-bottom: 0;
}

.hero-con .hero .hero-descrip h2 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.hero-con .hero .hero-descrip p {
  color: #99e5e8;
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-size: 1.5rem;
}

.hero-con p {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}

/*-----------------ARTICLE---------------*/
.article .article-content_one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 8fr;
      grid-template-columns: 4fr 8fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1em;
  padding: 4em;
  text-align: justify;
}

.article .article-content_one .article-red-text {
  font-family: "Raleway", sans-serif;
  color: #fa9917;
  font-size: 1.7em;
  font-style: italic;
}

.article .article-content_two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 4fr;
      grid-template-columns: 8fr 4fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 5em;
  padding: 4em;
  text-align: justify;
}

.article .article-content_two .turupay {
  -webkit-box-ordinal-group: 10000;
      -ms-flex-order: 9999;
          order: 9999;
}

.article h1 {
  text-transform: capitalize;
  font-size: 3rem;
  font-family: "Courier Prime", monospace;
  color: #000;
  font-weight: bolder;
  margin-left: 1em;
}

.article h1 span {
  border-bottom: solid 5px;
  line-height: 1px;
}

.article p {
  color: #0b335b;
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}

/*----------------STEPS----------------*/
.steps-section > div:first-of-type {
  text-align: center;
  padding: 2em 0;
}

.steps-section > div:first-of-type h1 {
  font-family: "Courier Prime", monospace;
  font-size: 3rem;
  padding: 0 5em;
}

.steps-section > div:first-of-type p {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
}

.steps-section {
  padding: 3em 3em 1em;
  background-color: #4f4f4f;
  color: white;
}

.steps-section p {
  font-size: 1.3rem;
}

.steps-section .steps span {
  font-weight: bold;
  font-size: 1.3em;
}

/*--------------------------------*/
@media (max-width: 1100px) {
  /*---------------HERO-----------------*/
  .hero-con .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 4em;
  }
  .hero-con .hero .hero-img {
    width: 40%;
  }
  .hero-con .hero .hero-descrip {
    text-align: center;
  }
  .hero-con .hero .hero-descrip h1 {
    font-size: 3.4em;
  }
  .hero-con .hero .hero-descrip h2 {
    color: #fff;
    font-size: 1.7rem;
  }
  .hero-con .hero .hero-descrip p {
    font-size: 1.1rem;
  }
  .hero-con .hero p {
    font-size: 1rem;
  }
  /*-----------------STEPS---------------*/
  .steps-section > div:first-of-type h1 {
    font-family: "Courier Prime", monospace;
    font-size: 2.5rem;
    padding: 0 3em;
  }
}

/*--------------------------------*/
@media (max-width: 906px) {
  /*----------------NAV----------------*/
  .nav-btn-con a {
    font-size: 1rem;
  }
  .nav-btn-con .nav-btn-1 {
    padding: 0.4em 1.5em;
  }
  .nav-btn-con .nav-btn-2 {
    padding: 0.6em 1em;
  }
  /*---------------HERO-----------------*/
  .hero-con .hero {
    display: block;
    padding-bottom: 4em;
    text-align: center;
  }
  .hero-con .hero .hero-descrip {
    text-align: center;
  }
  .hero-con .hero .hero-descrip h1 {
    font-size: 4em;
  }
  .hero-con .hero .hero-descrip h2 {
    color: #fff;
    font-size: 1.5rem;
  }
  .hero-con .hero .hero-descrip p {
    font-size: 1.2rem;
  }
  .hero-con .hero p {
    font-size: 1rem;
  }
  /*-----------------STEPS---------------*/
  .steps-section > div:first-of-type h1 {
    font-family: "Courier Prime", monospace;
    font-size: 2.3rem;
    padding: 0 3em;
  }
  /*-----------------ARTICLE---------------*/
  .article .article-content_one {
    display: block;
    text-align: center;
  }
  .article .article-content_one .article-red-text {
    font-size: 1.3em;
  }
  .article .article-content_two {
    display: block;
    padding: 2em;
    text-align: center;
  }
  .article .article-content_two .turupay {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .article h1 {
    font-size: 3rem;
    margin-left: 1em;
  }
  .article p {
    font-size: 1.1em;
  }
}

/*--------------------------------*/
@media (max-width: 506px) {
  /*---------------HERO-----------------*/
  .hero-con {
    padding: 3em 2.5em;
    text-align: center;
  }
  .article .article-content_one {
    padding: 2em;
  }
  .article .article-content_two {
    padding: 2em;
  }
  /*-----------------STEPS---------------*/
  .steps-section > div:first-of-type {
    text-align: center;
    padding: 0;
  }
  .steps-section > div:first-of-type h1 {
    font-family: "Courier Prime", monospace;
    font-size: 2rem;
    padding: 0;
  }
  .steps-section > div:first-of-type p {
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
  }
}
/*# sourceMappingURL=main.css.map */